<%= link_to "Back", :back, class: "back btn btn-outline-dark my-3"%>

<div class="form-w">
  <div class="d-flex flex-column border border-dark w-100">
    <div class="img-left" style="background-image: linear-gradient(rgba(250,250,250,0.3),rgba(250,250,250,0.3)), url(https://res.cloudinary.com/dtdr8cuym/image/upload/v1677764375/dbcf539c9af2a85b7cf60d8677e53a64_d9s5nl.jpg);">
      <h1>Add your new smurf's house</h1>
    </div>
    <div class="right-box">
      <div class="d-flex flex-column justify-content-between">
        <%= simple_form_for house do |f| %>
        <div class="form-inputs">
          <%= f.input :name%>
          <%= f.input :address,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          <%= f.input :price_per_night%>
          <%= f.input :number_of_people, as: :integer%>
          <%= f.input :description%>
          <%= f.input :photo, as: :file, class: "field" %>
        </div>
        <%= f.submit "Smurf!", class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
