  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.awn.com/sites/default/files/styles/original/public/image/featured/1032675-video-bringing-2d-aesthetic-peyo-cg-world-smurfs-lost-village.jpg?itok=LO59Bdv_);">
    <h1>Juzcar</h1>
    <h1><strong>Welcome</strong> to <strong>the first </strong> smurf's platform !</h1>
    <p>Do not wait and find the smurf's house of your dreams</p>
  </div>
<div class="houses-container">
  <div class="houses-card">
    <% @houses.each do |house| %>
      <div class="card border border-dark border-1 rounded" style="width: 18rem;">
        <%= link_to house_path(house.id) do %>
          <div class="photo">
            <% house.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill, class:"card-img-top rounded-top"  %>
            <% end %>
          </div>
          <div class="card-body mt-3">
            <h5><%= house.name %></h5>
            <p><%= house.address %></p>
            <div class="d-flex justify-content-between">
            <p><%= house.price_per_night %>€/night</p>
            <p><%= house.number_of_people %> <i class="fa-solid fa-users"></i></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
