<div class="greeting">
  <h4>Hello <%= current_user&.characteristic %> Smurf</h4>
</div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.lelombard.com/uploads/actualite/3_GRANDIRAVECLESSCHTROUMPFS_02.jpg);">
    <h1>Juzcar</h1>
    <h1><span data-controller="typed-js"></span></h1>
  </div>

<div class="houses-container">
    <% if @houses.empty? %>
        <h2 id="nothing-found">No matches found for "<%= params[:query] %>"</h2>
    <% else %>
      <div class="houses-card">
        <% @houses.each do |house| %>
          <%= link_to house_path(house.id) do %>
            <div class="card border border-dark border-1 shadow-lg" style="width: 18rem;">
              <div class="photo">
                <%= cl_image_tag house.photo.key, height: 300, width: 300, crop: :fill, class:"card-img-top rounded-top" %>
              </div>
              <div class="card-body pt-2 pb-0 bg-light">
                <h5><%= house.name %></h5>
                <p><%= house.address %></p>
              </div>
              <div class="d-flex justify-content-between card-footer">
                <p><%= house.price_per_night %>€/night</p>
                <p><%= house.number_of_people %> <i class="fa-solid fa-users"></i></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
