 <div class="banner" style="background-image: url(https://cdnb.artstation.com/p/assets/images/images/001/678/075/large/root-pid-smurf-02.jpg?1450698589);">
  </div>
  <div class="container px-5 p-10 top-margin-neg">
    <div class="row">
      <div class="col-8">
        <div class="card p-3 my-3 border border-dark">
          <h1 class="mb-0"><%= @house.name %></h1>
        </div>
        <div class="card p-3 my-3 border border-dark">
          <h3>Description</h3>
          <p class="mb-0"><%= @house.description %></p>
        </div>
        <div style="width: 100%; height: 400px; border: 1px solid black;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <div class="col-4">
        <div class="col-sticky">
          <div class="card py-3 my-3 border border-dark font-weight-bold text-center">
            <h3>Details</h3>
            <p class="fw-bold">Price : <%= @house.price_per_night %>€/night</p>
            <p class="mb-1 fw-bold">People : <%= @house.number_of_people %></p>
          </div>
          <% unless current_user == @house.user %>
            <div class="card py-3 my-3 border border-dark font-weight-bold text-center">
            <h3>Select dates</h3>
              <%= simple_form_for [@house, @reservation] do |f| %>
                <div class="px-3 fw-bold">
                  <%= f.input :arrival_date, as: :date, html5: true %>
                </div>
                <div class="px-3 fw-bold">
                  <%= f.input :departure_date, as: :date, html5: true %>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Book now !</button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title fs-5" id="exampleModalLabel">Reservation recap' for <%= @house.name %></h3>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <h5>Number for nights : <span id="number_nights"></span></h5>
                          <p>Arrival date : <span id="arrival_date_value"></span></p>
                          <p>Departure date : <span id="departure_date_value"></span></p>
                          <h5>Total price : <span id="total_price"></span> </h5>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-contrary" data-bs-dismiss="modal">Cancel</button>
                          <%= f.submit 'Confirm !', class: "btn btn-outline-dark", data: { turbo: false } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="d-flex justify-content-center">
            <% if current_user == @house.user %>
                <%= link_to "Edit this house", edit_house_path(@house), class: "btn btn-outline-dark me-3" %>
                <%= link_to "Delete", house_path(@house),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-delete"%>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>


<script>
  const totalPriceSpan = document.getElementById("total_price");
  const numberOfNightsSpan = document.getElementById("number_nights");

  const arrivalDateId = document.getElementById("reservation_arrival_date");
  const valueArrival = document.getElementById("arrival_date_value");

  let arrivalDate = 0
  let departureDate = 0
  let numberNights = 0
  let totalPrice = 0
  let totalPriceWithFees = 0
  let juzcarFees = 0

  arrivalDateId.addEventListener("change", (event) => {
    console.log(arrivalDateId)
    arrivalDate = arrivalDateId.value
    console.log(arrivalDate);
    console.log(event.currentTarget);
    valueArrival.textContent = arrivalDate
    diffSubtract(departureDate, arrivalDate)
  });

  const departureDateId = document.getElementById("reservation_departure_date");
  const valueDeparture = document.getElementById("departure_date_value");

  departureDateId.addEventListener("change", (event) => {
    console.log(departureDateId)
    departureDate = departureDateId.value
    console.log(departureDate);
    console.log(event.currentTarget);
    valueDeparture.textContent = departureDate
    diffSubtract(departureDate, arrivalDate)
  })

  function diffSubtract(date1, date2) {
    if (date1 != 0 && date2 != 0) {
      const parsedArrivalDate = new Date(arrivalDate).getTime()
      console.log(parsedArrivalDate)
      const parsedDepartureDate = new Date(departureDate).getTime()
      console.log(parsedDepartureDate)

      numberNights = Math.ceil((parsedDepartureDate - parsedArrivalDate) / (1000 * 3600 * 24))
      console.log(numberOfNightsSpan.textContent = numberNights);

      totalPrice = numberNights * <%= @house.price_per_night %>
      console.log(totalPriceSpan.textContent = totalPrice)
    }
  }
</script>
