<%= link_to "Back to list", houses_path %>
<p>empty show</p>
<h1><%= @house.name %></h1>

<h3>Description</h3>
<p><%= @house.description %></p>

<h3>Details</h3>
<p>Price :<%= @house.price_per_night %></p>
<p>Rating :</p>
<p>People :<%= @house.number_of_people %></p>

<% if current_user == @house.user %>
  <%= link_to "Delete",
    house_path(@house),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
