<%= link_to "Back to list", houses_path %>
<div class="container">
  <div class="row p-2">
    <div class="col-8 p-2">
      <div class="card">
        <h1><%= @house.name %></h1>
      </div>
      <div class="card">
        <h3>Description</h3>
        <p><%= @house.description %></p>
      </div>
    </div>
      <div class="col-4 p-2">
        <div class="card">
          <h3>Details</h3>
          <p>Price :<%= @house.price_per_night %></p>
          <p>Rating :</p>
          <p>People :<%= @house.number_of_people %></p>
          <form class="card">
            <div class="row">
              <%= simple_form_for [@house, @reservation] do |f| %>
              <div class="col-6">
                <%= f.input :arrival_date, as: :date, html5: true %>
              </div>
              <div class="col-6">
                <%= f.input :departure_date, as: :date, html5: true %>
              </div>
                <%= f.submit 'Book now !'%>
              <% end %>
            </div>
          </form>
        </div>


    <% if current_user == @house.user %>
      <%= link_to "Edit this house", edit_house_path(@house) %> |
    <% end %>

    <% if current_user == @house.user %>
      <%= link_to "Delete",
        house_path(@house),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    <% end %>
  </div>
</div>
