<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dtdr8cuym/image/upload/v1677599363/house_logo_fxqvqi.png" %>
      <span class="navbar-title nav-item ms-2">Juzcar</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <div class="row pe-3">
          <div class="col-12">
              <%= form_with url: houses_path, method: :get, class: "d-flex" do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find a house"
                %>
              <%= submit_tag "Search", class: "btn btn-outline-dark" %>
            <% end %>
          </div>
        </div>

        <li class="nav-item me-3">
          <%= link_to "Smurf your house", new_house_path, class: "btn btn-outline-dark" %>
        </li>
        <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <%= image_tag "https://res.cloudinary.com/dtdr8cuym/image/upload/v1677598189/y9curyad6ofwav0itn9i.jpg", class: "avatar dropdown-toggle border border-dark", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Dashboard", mydashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
