<div class="main_container d-flex justify-content-center">
  <div class="component form border border-dark p-4 m-4">
    <h2>Log in</h2>
    <hr>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-inputs">
          <div class="d-flex">
            <div class="p-2">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
            </div>
            <div class="p-2">
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
            </div>
          </div>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions mb-4">
        <%= f.button :submit, "Log in", class:"btn btn-outline-dark" %>
      </div>
    <% end %>
  <%= render "devise/shared/links" %>
  <%= image_tag "/Users/seyonnet/code/celiawlfd/juzcar/app/assets/images/bricoleur.png", class:"bricoleur" %>
  </div>
</div>
