<div class="header-dash d-flex align-items-center justify-content-center border border-dark">
  <h1>Your dashboard</h1>
</div>

<div class="dash-title d-flex align-items-center justify-content-center border border-dark">
  <h2>Your reservations</h2>
</div>

<div class="houses-card">
  <% @reservations.each do |reservation| %>
    <div class="border border-dark card-reservation pt-2">
      <h3><%= reservation.house.name %></h3>
      <h6>Arrival date</h6>
      <p><%= reservation.arrival_date %></p>
      <h6>Departure date</h6>
      <p><%= reservation.departure_date %></p>
      <div class="d-flex justify-content-center mb-3">
        <%= link_to "Smurf the house", house_path(reservation.house.id), class: "btn btn-outline-dark" %>
      </div>
    </div>
  <% end %>
</div>

<div class="dash-title d-flex align-items-center justify-content-center border border-dark">
  <h2>Your Houses</h2>
</div>

<div class="your-houses">
  <div class="w-100">
    <% @houses.each do |house| %>
      <div class="d-flex flex-wrap dash-house border border-dark border-1 my-3">
        <div class="card border border-dark border-1" style="width: 18rem;">
          <div class="photo">
            <% house.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill, class:"card-img-top rounded-top"  %>
            <% end %>
          </div>
          <div class="card-body pt-2 pb-0 bg-light">
            <h5><%= house.name %></h5>
            <p><%= house.address %></p>
          </div>
          <div class="d-flex justify-content-between card-footer">
            <p><%= house.price_per_night %>€/night</p>
            <p><%= house.number_of_people %> <i class="fa-solid fa-users"></i></p>
          </div>
          <div class="d-flex justify-content-center pb-3 bg-light">
            <%= link_to "Smurf the house", house_path(house.id), class: "btn btn-outline-dark" %>
          </div>
        </div>
        <div class="d-flex flex-column flex-wrap">
          <h4 class="m-3">Reservations</h4>
          <div class="d-flex flex-wrap">
            <% house.reservations.each do |reservation| %>
              <div class="card-reservation border border-dark border-1 card-house-res p-3 mx-3">
                <h6>Renter Smurf</h6>
                <p><%= reservation.user.characteristic %> Smurf</p>
                <h6>Reservation dates</h6>
                <p><%= reservation.arrival_date %> - <%= reservation.departure_date %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
